{
    "plugins": [
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "docs/CHANGELOG.md",
                    "npm-shrinkwrap.json"
                ]
            }
        ]
    ],
    "branches": [
        "master",
        {
            name: "develop",
            prerelease: true
        },
        {
            name: "develop-*",
            prerelease: true
        },
    ]
}
